@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi-Variable.ttf");
}

:root {
  --background: #F0E7D5;
  --foreground: #212842;
  --inter: 'Inter', sans-serif;
  --satoshi: "Satoshi", Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--inter);
  --font-satoshi: var(--satoshi);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@layer components{
  .btn{
    @apply  rounded-sm text-white shadow-sm hover:brightness-95 active:opacity-95 transition-all px-4 py-2 hover:cursor-pointer
  }
}